##  Save And Load R Objects
### save() : Save R object in .Rdata file 
### load() :  Read R object from .Rdata file
### rm()    :  Remove object from R

In [1]:
obj1<-1:10
obj1

 [1]  1  2  3  4  5  6  7  8  9 10

In [2]:
save(obj1,file="Data1.Rdata")

In [8]:
rm(obj1)
# obj1
# Error in eval(expr, envir, enclos): object 'obj1' not found
# Traceback:

In [9]:
load("Data1.Rdata")
obj1

 [1]  1  2  3  4  5  6  7  8  9 10

-------

---

# Import from and Export to .CSV Files
### write.csv(): write an R object to a .CSV file
### read.csv(): read an R object from a .CSV file

In [5]:
var1 <- sample(1:10,5,replace=T) ## 5 Random Int numbers between 1 to 10 and repition is allowed(replace=T) 
var2 <- runif(5,1,10)            ## 5 Random Real/float numbers between 1 to 10
var3 <- c("R","And","Data Mining","Examples","Case Studies")
dataFrame1 <- data.frame(var1,var2,var3)
names(dataFrame1) <- c("Int","Float/Real","Var Char")
 write.csv(dataFrame1,"Data2.csv",row.names=FALSE)
dataFrame2 <- read.csv("Data2.csv")
dataFrame2

  Int Float.Real Var.Char
1 1   6.855424   R
2 8   4.603499   And
3 5   2.547944   Data Mining
4 2   4.155014   Examples
5 1   4.817930   Case Studies

-----

----

# Import from and Export to EXCEL Files
### Package xlsx: read, write, format Excel 2007 and Excel 97/2000/XP/2003 files

In [7]:
library(xlsx)
Data3.file <-"Data2.xlsx"
write.xlsx(dataFrame2,Data3.file,sheetName="sheet1",row.names=F)
dataFrame3 <- read.xlsx(Data3.file,sheetName="sheet1")
dataFrame3

  Int Float.Real Var.Char
1 1   6.855424   R
2 8   4.603499   And
3 5   2.547944   Data Mining
4 2   4.155014   Examples
5 1   4.817930   Case Studies

----

----